section {
    height: 100vh;
    width: 100%;
    background-color: #111;
    overflow: hidden;
    user-select: none;
}

section .row {
    display: flex;
    white-space: nowrap;
    font-size: 64px;
    padding: 10px 0;
    transform: rotate(-30deg);
    position: relative;
    top: -50%;

}

i {
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

i:hover {
    color: blue;
    text-shadow: 0 0 120px blue;
    transition: 0s;
}

section .row div {
    animation: animate 60s linear infinite;
}


@keyframes animate {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0.452);
    text-shadow: 0 0 10px blue;
    ;
    z-index: 0;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 2.5rem;
}