html {
    font-size: 62.5%;
}

body {
    padding: 10px;
}

.box__wrap-transform {
    display: flex;
}

.box1 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: aqua;
    transition: background-color 2s 0.3s;
}

.box1:hover {
    background-color: blue;
}

.box2 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: crimson;
    transition: transform 1s;
}

.box2:hover {
    transform: translate(60px, 30px);
}

.box3 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: aquamarine;
    transition: transform 1s;
    transform-origin: top left;
}

.box3:hover {
    transform: scale(2, 3);
}

.box4 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blueviolet;
    transition: transform 1s;
}

.box4:hover {
    transform: rotate(240deg);
}

.box5 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: cadetblue;
    transition: transform 1s;
}

.box5:hover {
    /* transformに上の三つ全部入れる */
    transform: translate(200px, 200px) scale(5, 5) rotate(240deg);
}

.box6 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: chocolate;
    /* transition: transform 1s, background-color, 1s; */
    transition: all 1s;
}

.box6:hover {
    transform: translateX(80px);
    background-color: blue;
}

/* box__transition-timing-function */
.box7,
.box8,
.box9,
.box10,
.box11 {
    margin: 20px;
    height: 75px;
    background-color: rgb(23, 152, 112);
}

.box7 {
    width: 75px;
    transition: width 2s;
    transition-timing-function: ease;
}

.box7:hover {
    width: 300px;
}

.box8 {
    width: 75px;
    transition: width 2s;
    transition-timing-function: ease-in;
}

.box8:hover {
    width: 300px;
}

.box9 {
    width: 75px;
    transition: width 2s;
    transition-timing-function: ease-out;
}

.box9:hover {
    width: 300px;

}

.box10 {
    width: 75px;
    transition: width 2s;
    transition-timing-function: ease-in-out;

}

.box10:hover {
    width: 300px;
}

.box11 {
    width: 75px;
    transition: width 2s;
    transition-timing-function: linear;
}

.box11:hover {
    width: 300px;
}

/* box__wrap-animation */


.box12 {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #e13434;
    animation: back 3s;
}

@keyframes back {
    0% {
        background-color: #0d1bbb;
    }

    50% {
        background-color: #3ec291;
    }

    100% {
        background-color: #8534e2;
    }
}

.box13 {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: #d1ed33;
    animation: bc 4s;
    /* animation-timing-function: linear; 一定スピードで伸びる　*/
    /* animation-direction: reverse; 逆に動く　*/
    /* animation-direction: alternate; 動いた後、戻っていく　*/
    /* animation-fill-mode: forwards; 動いた後止まる */
    animation-iteration-count: infinite;
    /*無限 */
}

@keyframes bc {
    0% {
        width: 130px;
        background-color: #49f315;
    }

    50% {
        width: 200px;
        background-color: #1cd5a7;
    }

    100% {
        width: 200px;
        background-color: #06360f;
    }
}

.nav__menu {
    width: 300px;
    margin: 60px auto;

    ul {
        list-style-type: none;
        display: flex;
        gap: 40px;

        li {
            font-size: 20px;
            position: relative;
        }

        li::after {
            content: "";
            width: 0%;
            height: 2px;
            background-color: #e13434;
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: width 1s;
        }
    }
}

.nav__menu li:hover::after {
    width: 100%;
}

.menu__btn {
    width: 60px;
    height: 60px;
    background-color: #0d1bbb;
    margin: 0 auto;
    position: relative;

    span {
        width: 40px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 10px;
        transition: 1s;
    }

    span:nth-child(1) {
        top: 20px;
    }

    span:nth-child(2) {
        top: 30px;
    }

    span:nth-child(3) {
        top: 40px;
    }
}

.menu__btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu__btn.active span:nth-child(2) {
    opacity: 0;
}

.menu__btn.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}